!!! 5
%html
  %head
    %link{rel: "stylesheet", type: "text/css", href: "/style.css"}
    %link{rel: "icon", type: "image/png", href: "/favicon.png"}

    %script{src: "/js/jquery.js"}
    %script{src: "/js/weusepgp.js"}

    %title Because privacy matters - We Use PGP
  %body
    #header
      .container
        .hgroup
          %h1
            %a{href: "/"} WeUsePGP
          .subtitle Because privacy matters

        .flattr
          <script id='fbb5j37'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=manudwarf&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbb5j37');</script>

    #whatisit
      .container
        %h1.main-title
          %span What is PGP ?

        .main-description
          %p PGP is a computer program that helps you keeping your privacy...
          %p Well, private.

        .main-uses
          %ul
            %li
              %h2 Encryption
              %p Using military-class algorithms, your files and communications will be readable only by the person that you want to.

            %li
              %h2 Signature
              %p Just like handwritten signature, digital signature proves that only the emitter could have sent this. It strenghten trust.

    #whyuseit
      .container
        %h1.main-title
          %span Why use it ?

        %ol.reasons
          %li
            %h2 Private
            %p Simply because privacy matters. Internet is a wonderful tool to communicate, it's also very easy to get spied on by curious friends, neighbours or governements.
          %li
            %h2 Simple
            %p Don't change your habits, your emails or your contacts. The only difference is that if you and someone else use PGP, your conversation will stay private.

          %li
            %h2 Free
            %p PGP is free as in free beer and free speech. You don't have to pay anything and the protocol specifications are open and tested by a worldwide community.

    #howto
      .container
        %h1.main-title
          %span How to use it ?

        %nav.select-usage
          For
          %ul
            %li.selected{data: {usage: "emails"}} emails
            %li{data: {usage: "chat"}} chat
            %li{data: {usage: "calls"}} calls
            %li{data: {usage: "file"}} files
            %li{data: {usage: "device"}} devices

        %nav.select-platform
          On
          %ul
            %li.selected{data: {platform: "windows"}} Windows
            %li{data: {platform: "macos"}} MacOS
            %li{data: {platform: "linux"}} Linux
            %li{data: {platform: "iphone"}} iPhone
            %li{data: {platform: "android"}} Android

        %ul.howtos
          %li{data: {usage: "emails", platform: "windows"}}
            Windows emails
          %li.not-available.hidden
            Not available yet

    #more
      .container
        %h1.main-title
          %span Get more info

        %ul.more-links
          %li
            Join a local
            %a{target: "_blank", href: "http://www.cryptoparty.in/"} CryptoParty

    #footer
      .container
        .licence-info
          This website is licenced under a
          %a{href: "http://creativecommons.org/licenses/by-sa/3.0/"} Creative Commons by-sa 3.0 licence

        .author
          Website realised by
          %a{href: "https://twitter.com/manudwarf"} @manudwarf
