!!! 5
%html
  %head
    %link{rel: "stylesheet", type: "text/css", href: "/style.css"}
    %link{rel: "icon", type: "image/png", href: "/favicon.png"}

    %title Because privacy matters - We Use PGP
  %body
    #header
      .container
        %hgroup
          %h1
            %a{href: "/"}WeUsePGP

    #whatisit
      .container
        %h1.main-title
          %span What is PGP ?

        .main-description
          %p PGP is a computer program that helps you keeping your privacy...
          %p Well, private.

    #whyuseit
      .container
        %h1.main-title
          %span Why use it ?

        %ol.reasons
          %li
            %h2 Private
            %p Simply because privacy matters. Internet is a wonderful tool to communicate, it's also very easy to get spied on by curious friends, neighbours or governements.
          %li
            %h2 Simple
            %p Don't change your habits, your emails or your contacts. The only difference is that if you and someone else use PGP, your conversation will stay private.

          %li
            %h2 Free
            %p PGP is free as in free beer and free speech. You don't have to pay anything and the protocol specifications are open and tested by a worldwide community.

    #howto
      .container
        %h1.main-title
          %span How to use it ?

        %nav.select-usage
          For
          %ul
            %li.usage-email.selected emails
            %li.usage-chat chat
            %li.usage-calls calls
            %li.usage-file files
            %li.usage-device devices

        %nav.select-platform
          On
          %ul
            %li.platform-windows.selected Windows
            %li.platform-macos MacOS
            %li.platform-linux Linux
            %li.platform-iphone iPhone
            %li.platform-android Android

    #more
      .container
        %h1.main-title
          %span Get more info

    #footer
      .container
        .licence-info
          This website is licenced under a
          %a{href: "http://creativecommons.org/licenses/by-sa/3.0/"} Creative Commons by-sa 3.0 licence

        .author
          Website realised by
          %a{href: "https://twitter.com/manudwarf"} @manudwarf
