!!! html5
%html
  %head
    %link{rel: "stylesheet", type: "text/css", href: "/style.css"}

    %title We use PGP - Because privacy matters
  %body
    #header
      %hgroup
        %h1
          %a{href: "/"}WeUsePGP.info

      %nav#main-nav
        %ul
          %li
            %a{href: "#what"} What is PGP ?
          %li
            %a{href: "#why"} Why use it ?
          %li
            %a{href: "#what"} More

    #footer
      .licence-info
        This website is licenced under a
        %a{href: "http://creativecommons.org/licenses/by-sa/3.0/"} Creative Commons by-sa 3.0 licence

      .author
        Website realised by
        %a{href: "https://twitter.com/manudwarf"} @manudwarf
