@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700)

body
  font-family: "Roboto Slab", serif

a
  color: inherit

.container
  margin: 0 auto
  width: 960px

#header
  overflow: auto

  a
    text-decoration: none

  hgroup
    float: left

  #main-nav
    float: right

    li
      display: inline-block
      margin-left: 14px

h1
  font-weight: normal

  &.main-title
    font-style: italic
    text-align: center

nav
  ul
    list-style: none
    margin: 0
    padding: 0
