$backgroundColor: #0B78BD
$foregroundColor: white
$sidebarBackgroundColor: #091822

$containerWidth: 960px
$sidebarWidth: 240px

@mixin reset-list
  list-style: none
  margin: 0
  padding: 0

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400)

body
  background: $backgroundColor
  color: $foregroundColor
  font-family: "Roboto Slab", serif
  margin: 0
  padding: 0

a
  color: inherit

.container
  clear: both
  margin: 0 auto 30px
  padding-left: $sidebarWidth
  width: $containerWidth
  overflow: auto
  -webkit-transition: all 0.2s

#footer
  background: $foregroundColor
  color: $backgroundColor
  font-size: 0.9em
  padding: 20px 0 40px

#header

  a
    text-decoration: none

  .container
    margin-bottom: 0

  .hgroup
    margin-top: 30px

    h1
      display: inline
      font-size: 28px

    .subtitle
      display: inline
      font-weight: 300
      letter-spacing: 1px
      padding-left: 10px
      opacity: 0.7

  .right-panel
    float: right

  .social-links
    margin-top: 10px

    li
      display: inline

#help
  background: desaturate(lighten($backgroundColor, 25%), 45%)
  text-align: center

  .container
    margin-bottom: 0

.hidden
  display: none

#howto
  .howtos
    clear: both
    @include reset-list
    margin-top: 30px
    min-height: 230px

    .howto
      overflow: auto

      h3
        font-size: 24px
        margin-top: 20px

        a
          text-decoration: none

      .howto-description
        float: left
        width: 500px

      .howto-illustration
        float: right
        text-align: center
        width: 400px

        img
          max-width: 100%

      &.not-available
        padding-top: 50px
        text-align: center

        span
          background: darken($backgroundColor, 5%)
          border-radius: 2px
          display: inline-block
          padding: 20px 40px

h1, h2, h3
  font-weight: 300
  margin: 0
  text-shadow: 0 1px 0 #174e71

.main-description
  background-image: url(/images/letter-encrypted-large.png)
  background-position: 60px center
  background-repeat: no-repeat
  background-size: 300px 160px
  font-size: 24px
  font-weight: 300
  margin-bottom: 40px
  overflow: hidden
  padding: 30px 0
  padding-left: 440px
  width: 380px

  p
    margin-bottom: 15px
    margin-top: 0

.main-title
  font-size: 28px
  font-style: italic
  margin: 20px 0 30px
  position: relative
  text-align: center

  &::before
    border-bottom: 1px solid white
    content: ""
    opacity: 0.4
    margin-top: 20px
    position: absolute
    left: 0
    width: 100%
    z-index: -1

  span
    background: $backgroundColor
    padding: 0 15px

.main-uses
  text-align: center

  h2
    font-size: 28px

  ul
    @include reset-list

  li
    float: left
    width: 50%

    p
      font-size: 18px
      line-height: 1.4em
      padding: 0 30px

nav
  ul
    @include reset-list

.reasons
  @include reset-list
  text-align: center

  h2

  p
    line-height: 1.4em
    padding: 0 10px

  li
    float: left
    width: 33%

.select-howto
  overflow: auto

.select-platform,
.select-usage
  float: left
  margin-bottom: 6px
  text-align: center
  width: 50%

  li
    background: darken($backgroundColor, 5%)
    border-radius: 3px
    cursor: pointer
    margin: 0 1px
    padding: 3px 6px
    transition: background 0.2s

    &.selected
      background: $foregroundColor
      color: $backgroundColor
      cursor: default

  ul
    margin-left: 4px

  ul, li
    display: inline-block

#sidebar-container
  clear: both
  margin: 0 auto
  overflow: auto
  width: $containerWidth + $sidebarWidth

#sidebar
  position: absolute
  top: 85px
  -webkit-transition: all 0.2s

  &.fixed
    position: fixed
    top: 0

  a, span
    display: block
    padding: 5px 12px

  a
    opacity: 0.5
    text-decoration: none

    &:hover
      opacity: 1

  span
    margin-top: 15px


#sidebar-link
  background: url("/images/menu_icon.svg") center no-repeat
  background-size: 40px 40px
  display: none
  float: left
  height: 40px
  margin-right: 10px
  opacity: 0.7
  width: 40px

  &:hover
    opacity: 1


@media screen and (max-width: $containerWidth + $sidebarWidth + 20px)
  .container
    padding-left: 0
    -webkit-transform: translateX(0)

  #sidebar
    -webkit-transform: translateX(-$sidebarWidth)

  #sidebar-link
    display: block

  .sidebar-visible
    .container
      -webkit-transform: translateX($sidebarWidth)
    #sidebar
      -webkit-transform: translateX(0)



@media screen and (max-width: $containerWidth)
  .container
    padding: 0 10px
    width: auto

  #header
    .hgroup
      h1
        display: block

      .subtitle
        float: none
        padding-left: 0

  #howto
    .howtos
      .howto
        .howto-description,
        .howto-illustration
          float: none
          width: auto

  .main-description
    background: none
    padding: 0
    width: auto

  .main-uses,
  .reasons
    li
      float: none
      padding: 0
      width: auto

  .select-platform,
  .select-usage
    float: none
    padding: 0
    text-align: left
    width: auto